<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT gridDocType ANY>
<!ATTLIST gridDocType id ID #REQUIRED>
]>
<root id="-1">
  <home id="1072" key="a27ec310-13f1-4152-bb7b-0866bb95ba95" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T10:16:41" updateDate="2017-03-08T19:28:51" nodeName="Home" urlName="home" path="-1,1072" isDoc="" nodeType="1053" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1052" nodeTypeAlias="home">
    <metaKeywords><![CDATA[Home, Aarhus Web Developer Corporation, Hjem]]></metaKeywords>
    <umbracoNavIHide>0</umbracoNavIHide>
    <logo><![CDATA[1101]]></logo>
    <siteTitle><![CDATA[Aarhus Web Developer Corporation]]></siteTitle>
    <mainContent><![CDATA[<p style="text-align: left;">Velkommen til Aarhus Web Developer Corporation, </p>
<p>Vi har en masse artikler og projekter, som du kan se og opleve.</p>
<p> </p>
<?UMBRACO_MACRO macroAlias="NewestProjects" />
<p> </p>
<p> </p>]]></mainContent>
    <footer><![CDATA[Cody right - Aarhus Web Developer Corporation]]></footer>
    <articlesOverview id="1074" key="d4722f97-80b1-474d-937f-034dfaffcd45" parentID="1072" level="2" creatorID="0" sortOrder="0" createDate="2017-02-08T11:26:07" updateDate="2017-03-22T13:41:19" nodeName="Articles" urlName="articles" path="-1,1072,1074" isDoc="" nodeType="1060" creatorName="Cecilia" writerName="Jane Wilfred" writerID="1" template="1059" nodeTypeAlias="articlesOverview">
      <umbracoNavIHide>0</umbracoNavIHide>
      <articlesBodyText><![CDATA[<p>Her kan du alle vores artikler, håber du synes om dem.</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Oversigt over artikler]]></articlesTitle>
      <articleItem id="1079" key="7b37dde9-416e-4bdc-be04-f07a476c2798" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T19:05:20" updateDate="2017-02-08T19:13:14" nodeName="Idea" urlName="idea" path="-1,1072,1074,1079" isDoc="" nodeType="1064" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1063" nodeTypeAlias="articleItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <articleTitle><![CDATA[Idé]]></articleTitle>
        <articleContent><![CDATA[<p>Når man har en ide, så skal man gå videre med den.</p>
<p>Man kan eks. bruge brainstorm til, at få nye vinkler på ideen.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1080" key="a6ea50b8-7b54-41b9-8f4d-d137aa768830" parentID="1074" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T19:17:57" updateDate="2017-02-08T19:20:37" nodeName="Web udvikling" urlName="web-udvikling" path="-1,1072,1074,1080" isDoc="" nodeType="1064" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1063" nodeTypeAlias="articleItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <articleTitle><![CDATA[Web udvikling]]></articleTitle>
        <articleContent><![CDATA[<p>Der er mange faser og tanker man skal gøre, før man en web udviklings proces er god.</p>
<p>Man skal eks. </p>
<ul>
<li>Få opgaven fastsat =&gt; forventninger, rammer og krav</li>
<li>Indsamle information og lave analyser</li>
<li>Få feedback ved test, og handle på baggrund af resultatet.</li>
</ul>
<p> </p>
<p>Web udvikling er sjovt, og kan gribes an på mange måder, og processen skal tilpasses efter behov.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1081" key="109a56c0-cee7-4b10-8281-6fcb3f8c04a9" parentID="1074" level="3" creatorID="0" sortOrder="3" createDate="2017-02-08T19:23:13" updateDate="2017-02-08T19:42:48" nodeName="Fordrag" urlName="fordrag" path="-1,1072,1074,1081" isDoc="" nodeType="1064" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1063" nodeTypeAlias="articleItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <articleTitle><![CDATA[MVC]]></articleTitle>
        <articleContent><![CDATA[<p>Model - View - Controller.</p>
<p>En god arkitektur tilgang, som gør din kode nemmere at vedligeholde og genbrug. Derudover giver det dig et flow, der matcher hvordan systemet skal bruges.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1112" key="91f2ba9c-d56a-42ae-badc-ed3caf5b6714" parentID="1074" level="3" creatorID="2" sortOrder="4" createDate="2017-03-08T11:20:19" updateDate="2017-03-08T11:20:19" nodeName="TimsArticle" urlName="timsarticle" path="-1,1072,1074,1112" isDoc="" nodeType="1064" creatorName="Tim Hansson" writerName="Tim Hansson" writerID="2" template="1063" nodeTypeAlias="articleItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <articleTitle><![CDATA[Tims first Article]]></articleTitle>
        <articleContent><![CDATA[<p>Test</p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <textPage id="1076" key="c4be21f6-8d39-4c94-bc7e-9674bdfe1b19" parentID="1072" level="2" creatorID="0" sortOrder="1" createDate="2017-02-08T14:32:06" updateDate="2017-02-09T17:35:52" nodeName="Webdesign" urlName="webdesign" path="-1,1072,1076" isDoc="" nodeType="1056" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1055" nodeTypeAlias="textPage">
      <umbracoNavIHide>0</umbracoNavIHide>
      <mainContent><![CDATA[<p>En god måde at finde inspiration til nye webdesigns er at kigge på hvad andre har lavet. Jeg kigger ofte på, hvad forskellige webdesignere har lavet for andre. Enten i form af trykte kataloger med webdesigns eller også online enten i forskellige webdesign sider.</p>
<p>Men hvorfor ikke kigge på, hvilke webdesign, de profesionelle webdesignerne laver, når de skal sælge sig selv. <span id="more-300"></span>Man må formode at webdesignerne og webbureauerne er ekstra kritiske og omhyggelige med deres egne sider og udnytter al deres viden, og deres bedste kompetencer.</p>
<p> </p>
<h4>Danske webdesignere</h4>
<p>Her er en liste over en række af de danske webdesigneres og webbureauers egne sider:</p>
<ul>
<li><a href="http://www.danaweb.dk/" class="postlink">http://www.danaweb.dk/</a></li>
<li><a href="http://www.scandesigns.dk/" class="postlink">http://www.scandesigns.dk/</a></li>
<li><a href="http://www.adnuvo.com/" class="postlink">http://www.adnuvo.com/</a></li>
<li><a href="http://www.envision.dk/" class="postlink">http://www.envision.dk/</a></li>
<li><a href="http://www.headnet.dk/" class="postlink">http://www.headnet.dk/</a></li>
<li><a href="http://www.decode.dk/" class="postlink">http://www.decode.dk/</a></li>
<li><a href="http://www.idebureauet.dk/" class="postlink">http://www.idebureauet.dk/</a></li>
<li><a href="http://www.mouseketeers.dk/" class="postlink">http://www.mouseketeers.dk/</a></li>
<li><a href="http://www.staerk.dk/staerk.htm" class="postlink">http://www.staerk.dk/staerk.htm</a></li>
<li><a href="http://www.ultimate-web.dk/" class="postlink">http://www.ultimate-web.dk/</a></li>
<li><a href="http://www.clickwork.dk/" class="postlink">http://www.clickwork.dk/</a></li>
<li><a href="http://www.jayjaywebdesign.com/" class="postlink">http://www.jayjaywebdesign.com/</a></li>
<li><a href="http://www.customweb.dk/referencer.php" class="postlink">http://www.customweb.dk/referencer.php</a></li>
<li><a rel="nofollow" href="http://www.ineo.dk/"><span>http://www.ineo.dk</span></a> </li>
<li><a href="http://www.vestjyskmarketing.dk/">http://www.vestjyskmarketing.dk/</a></li>
<li><a href="http://www.konstellation.dk/">http://www.konstellation.dk/</a></li>
<li><a href="http://www.co3.dk/">http://www.co3.dk/</a></li>
<li><a href="http://www.mcb.dk/">http://www.mcb.dk/</a></li>
<li><a href="http://www.danskinternetselskab.dk/">http://www.danskinternetselskab.dk/</a></li>
<li><a href="http://www.lbicph.com/">http://www.lbicph.com/</a></li>
<li><a href="http://www.dwarf.dk/">http://www.dwarf.dk/</a></li>
<li><a href="http://www.skybrud.dk/">http://www.skybrud.dk/</a></li>
<li><a href="http://www.creuna.dk/den/">http://www.creuna.dk/den/</a></li>
<li><a href="http://www.guava.dk/">http://www.guava.dk/</a></li>
<li><a href="http://www.guava.dk/">http://www.</a><a href="http://thomasfals.dk/" title="http://thomasfals.dk">thomasfals.dk</a></li>
</ul>
<p>Sjovt nok ser det ud som om stilen på forbavsende mange af webdesignernes egne hjemmesider er rimelig afdæmpede. Også mere afdæmpede end de referencer de selv henviser til.  </p>
<p>Er det sådan, at spræl og vilde designs kan være fede for designeren at vise frem, men hvis man også vil sælge noget, må man satse på lidt mere på  troværdighed og forretningsmæssigt udtryk frem for tjubang farver og ramasjang?</p>
<p>Der er dog også bureauer, der giver den fuld skrue. Og nogle af dem er tydeligvis temmelige svære at navigere og finde rundt på.</p>
<p> </p>
<h4>Oversete webdesignere eller webbureuaer</h4>
<p>Listen er generet udfra et par hurtige opslag på google og hukommelse.</p>
<p>Har jeg overset  nogle store aller gode webdesignere eller webbureuaer , som burde være med på sådan en liste, så sig endelig til?</p>]]></mainContent>
      <header><![CDATA[Webdesignernes egne webdesign]]></header>
    </textPage>
    <projectsOverview id="1077" key="f06047e1-cdb5-46b7-8abe-4ca846050c53" parentID="1072" level="2" creatorID="0" sortOrder="2" createDate="2017-02-08T14:32:43" updateDate="2017-03-22T19:43:18" nodeName="Projects" urlName="projects" path="-1,1072,1077" isDoc="" nodeType="1067" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1066" nodeTypeAlias="projectsOverview">
      <umbracoNavIHide>0</umbracoNavIHide>
      <projectsTitle><![CDATA[Oversigt over projekter]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>Her kan du se alle de projekter vi har gang i, eller har gennemført.</p>]]></projectsBodyText>
      <projectItem id="1078" key="6919a56e-3702-4de5-a2bf-5770c3d0e3ef" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T14:33:12" updateDate="2017-03-08T20:19:27" nodeName="System til tidsregistrering" urlName="system-til-tidsregistrering" path="-1,1072,1077,1078" isDoc="" nodeType="1071" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1070" nodeTypeAlias="projectItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <projectDescription><![CDATA[<p>Projektet er lavet i samarbejde med vores datterselskab "Host n' Host", og skal ende med, et system, som skal skal kun købe til billigepenge af virksomheder for, at holde styr på, hvor meget de forskellige ansatte har arbejdet, hvilket kan bruges til, beregning af løn. </p>
<p>Projektet vil vare i 1,5 år, og starter pr. d.d.</p>]]></projectDescription>
        <projectTitle><![CDATA[Tidsregistrering system]]></projectTitle>
        <projectStatus>13</projectStatus>
      </projectItem>
      <projectItem id="1082" key="bf76a482-a097-49ea-88a4-5475cfac89e4" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T19:35:08" updateDate="2017-03-22T11:00:16" nodeName="FILM boxen" urlName="film-boxen" path="-1,1072,1077,1082" isDoc="" nodeType="1071" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1070" nodeTypeAlias="projectItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <projectDescription><![CDATA[<p>Projektet her, går ud på, at vi skal lave et website til, FILM boxen, hvor man kan leje film, som har vundet priser, og dele sine egne film. Derudover skal det være muligt, at give en donation, og se kontakt oplysninger.</p>
<p>Projektet starter d.d., og vil vare i 3 år.</p>]]></projectDescription>
        <projectTitle><![CDATA[FILM boxen]]></projectTitle>
        <projectStatus>10</projectStatus>
      </projectItem>
      <projectItem id="1083" key="cc99841f-6005-4742-8366-ecbc80709dbb" parentID="1077" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T19:39:16" updateDate="2017-02-15T14:37:16" nodeName="Kode struktur" urlName="kode-struktur" path="-1,1072,1077,1083" isDoc="" nodeType="1071" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1070" nodeTypeAlias="projectItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <projectDescription><![CDATA[<p>Har du problemer med, at holde eller finde en passe kode struktur?</p>
<p>Så har vi gode nyheder til dig, vi kan nemlig give nogle tips og tricks til, hvordan du skal gribe det med kodestruktur and. </p>
<p>Vi start i Aarhus den 14. maj 2017.</p>]]></projectDescription>
        <projectTitle><![CDATA[Kode struktur]]></projectTitle>
        <projectStatus>13</projectStatus>
      </projectItem>
      <projectItem id="1084" key="00780647-163b-4c96-b96e-0d7b49eb8818" parentID="1077" level="3" creatorID="0" sortOrder="3" createDate="2017-02-08T19:40:56" updateDate="2017-02-08T19:41:22" nodeName="Udviklingsprocessen" urlName="udviklingsprocessen" path="-1,1072,1077,1084" isDoc="" nodeType="1071" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1070" nodeTypeAlias="projectItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <projectDescription><![CDATA[<p>Kom til fordrag og blive klogere på, hvordan i kan effektiviser jeres udviklingsporces, og hvordan i får tiden og penge til gå op.</p>
<p>Fordraget i Aarhus musikhus, den 13. dec. 2017.</p>]]></projectDescription>
        <projectTitle><![CDATA[Udviklingsprocessen - fordrag]]></projectTitle>
        <projectStatus>11</projectStatus>
      </projectItem>
      <projectItem id="1134" key="b6d79c23-4bd0-4c2b-864f-542290d40f50" parentID="1077" level="3" creatorID="0" sortOrder="4" createDate="2017-03-22T09:09:51" updateDate="2017-03-22T09:09:58" nodeName="SkemaSystem" urlName="skemasystem" path="-1,1072,1077,1134" isDoc="" nodeType="1071" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1070" nodeTypeAlias="projectItem">
        <umbracoNavIHide>0</umbracoNavIHide>
        <projectDescription><![CDATA[<p>Et site hvor, man kan tilføje, slette og se arrangementer.</p>]]></projectDescription>
        <projectTitle><![CDATA[Skema system]]></projectTitle>
        <projectStatus>11</projectStatus>
      </projectItem>
    </projectsOverview>
    <gridDocType id="1089" key="6a987570-128f-497b-84a4-92827cf16e88" parentID="1072" level="2" creatorID="0" sortOrder="3" createDate="2017-02-08T20:32:48" updateDate="2017-03-22T08:48:08" nodeName="About" urlName="about" path="-1,1072,1089" isDoc="" nodeType="1088" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1087" nodeTypeAlias="gridDocType">
      <umbracoNavIHide>0</umbracoNavIHide>
      <content><![CDATA[{
  "name": "GridLayout",
  "sections": [
    {
      "grid": 12,
      "allowAll": false,
      "allowed": [
        "RowConfig"
      ],
      "rows": [
        {
          "label": "RowsConfig",
          "name": "RowConfig",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1095,
                    "image": "/media/1008/stevenagainstlinkrot2.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Web udvikling skal være sjovt, nemt og gøres med omtanke.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><img id=\"__mcenew\" src=\"/media/1006/14915196_10209505974797912_736177642448186992_n.jpg?width=212&amp;height=212\" alt=\"\" width=\"212\" height=\"212\" rel=\"1093\" data-id=\"1093\" /><img id=\"__mcenew\" src=\"/media/1005/2241.png?width=215&amp;height=259\" alt=\"\" width=\"215\" height=\"259\" rel=\"1092\" data-id=\"1092\" /><img id=\"__mcenew\" src=\"/media/1007/tommy_froekjaer.png?width=229&amp;height=228\" alt=\"\" width=\"229\" height=\"228\" rel=\"1094\" data-id=\"1094\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "quote",
                "embed"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span class=\"Label\">Kompetencer</span></p>\n<ul>\n<li>MSSQL</li>\n<li>MVC</li>\n<li>C#</li>\n<li>Umbraco</li>\n<li>CSS</li>\n<li>HTML</li>\n<li>Bootstrap</li>\n<li>jquery</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {
            "background-color": "white"
          },
          "config": {},
          "hasConfig": true,
          "id": "c191282c-20e9-5095-b909-ab808c70627c",
          "active": true
        }
      ]
    }
  ]
}]]></content>
    </gridDocType>
    <sitemap id="1098" key="11a4cc81-50bb-4094-a8c0-a8d95558bc3c" parentID="1072" level="2" creatorID="0" sortOrder="4" createDate="2017-02-15T14:21:27" updateDate="2017-02-15T14:21:27" nodeName="Sitemap" urlName="sitemap" path="-1,1072,1098" isDoc="" nodeType="1097" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1096" nodeTypeAlias="sitemap">
      <umbracoNavIHide>0</umbracoNavIHide>
    </sitemap>
    <contactPage id="1104" key="905a09b4-cbbb-4103-bcf0-cb4536aaf125" parentID="1072" level="2" creatorID="0" sortOrder="5" createDate="2017-02-22T09:17:18" updateDate="2017-02-22T09:25:45" nodeName="Contact Us" urlName="contact-us" path="-1,1072,1104" isDoc="" nodeType="1103" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1102" nodeTypeAlias="contactPage">
      <umbracoNavIHide>0</umbracoNavIHide>
    </contactPage>
    <textPage id="1129" key="02910aa1-da6c-4a52-ba3b-278808dd8c8c" parentID="1072" level="2" creatorID="0" sortOrder="7" createDate="2017-03-08T19:53:19" updateDate="2017-03-08T20:25:04" nodeName="ForbiddenAccess" urlName="forbiddenaccess" path="-1,1072,1129" isDoc="" nodeType="1056" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1055" nodeTypeAlias="textPage">
      <umbracoNavIHide>1</umbracoNavIHide>
      <mainContent><![CDATA[<p>You are not allowed to se this content.</p>]]></mainContent>
      <header><![CDATA[Forbidden Access]]></header>
    </textPage>
    <login id="1132" key="e6be916d-1376-4615-ab76-58b54d7a9d61" parentID="1072" level="2" creatorID="0" sortOrder="9" createDate="2017-03-08T20:17:02" updateDate="2017-03-08T20:17:02" nodeName="Logon" urlName="logon" path="-1,1072,1132" isDoc="" nodeType="1127" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1126" nodeTypeAlias="login">
      <umbracoNavIHide>0</umbracoNavIHide>
    </login>
    <textPage id="1133" key="cea02819-dded-40a4-96a3-f224e5904180" parentID="1072" level="2" creatorID="0" sortOrder="10" createDate="2017-03-08T20:41:53" updateDate="2017-03-08T20:46:15" nodeName="Members" urlName="members" path="-1,1072,1133" isDoc="" nodeType="1056" creatorName="Cecilia" writerName="Cecilia" writerID="0" template="1055" nodeTypeAlias="textPage">
      <umbracoNavIHide>0</umbracoNavIHide>
      <mainContent><![CDATA[<?UMBRACO_MACRO macroAlias="MembersList" />
<p> </p>]]></mainContent>
      <header><![CDATA[Members]]></header>
    </textPage>
  </home>
</root>